
#widget-wrapper {
    float: left;
    width: 100%;
}

#widget-palette {
    width: 300px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: -100%;

}

#widget-palette dl {
    padding: 0;
}

#widget-palette select,
#widget-palette button {
    margin-left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#widget-container {
    margin-left: 325px;
}

#widget-container-inner {
    padding: 20px;
}

#widget-list {
    max-width: 400px;
    list-style: none;
    position:relative;
    list-style-type: none; margin: 0; padding: 0; 
}

#widget-list li {
    list-style-type: none;
    margin: 5px 0; 
    padding: 0; 
    background: #FFF;
}

#widget-list li.placeholder {
    background: transparent;
    border: 2px dashed #C2C9CC;
    padding: 0px;
}

noscript {
    display: block;
    background: transparent;
    border: 1px dashed #FFF;
    background: red;
    color: #FFF;
    padding: 10px 20px;
    margin: 10px 0;
}

noscript p {
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    margin: 5px 0;
}

#widget-list li.level-0 {
    margin-left: 0px;
}

#widget-list li.level-1 {
    margin-left: 20px;
}

#widget-list li.level-2 {
    margin-left: 40px;
}

#widget-list li.level-3 {
    margin-left: 60px;
}

#widget-list li.level-4 {
    margin-left: 80px;
}

.widget {
    border: 1px solid #DDDDDD;
}

.data-box {
    padding: 10px 20px;
    display: none;
}

.data-row {
    margin: 10px 0;
}

.data-row label {
    width: 60px;
    margin-right: 10px;
    display: inline-block;
    font-weight: bold;
}

.data-row input {
    outline: none;
    background-color: white;
    outline: none;
    height: 18px;
    margin: 0px;
    border-radius: 4px;
    min-width: 200px;
}

.close-btn {
    display: inline-block;
    position: absolute;
    right: 12px;
    top: 9px; 
    width: 14px;
    height: 14px;
    background: url(../img/icon-deletelink.svg) 0 1px no-repeat;
    cursor: pointer;
}

.toggle-btn {
    display: inline-block;
    position: absolute;
    left: 6px;
    top: 9px;
    cursor: pointer;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(../img/sorting-icons.svg) 0 -56px no-repeat;
    background-size: 14px auto;
}

.toggle-btn:hover {
    background-position: 0px -70px;
}

.field-schema {
    position: absolute;
    left: -9999em;
}

#widget-list li div.handle {
    background: #F6F6F6;
}

#widget-list li div.handle {
    position: relative;    
    cursor: move;
    border-width: 0px;
    padding: 8px 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    height: 34px;
    overflow: hidden;
    text-align: left;
    font-weight: bold;
}

ol.help {
    padding-left: 20px;
}

#widget-list li.open-widget div.handle {
    border-bottom: 1px solid #DDDDDD;
}

.widget-body {
    display: none;
    min-height: 200px;
}

#widget-palette h3 {
    padding: 5px 10px;
    padding-left: 2.2em !important;
}

#widget-palette .ui-widget-content.ui-accordion-content-active {
    border-top: 1px solid #C2C9CC;
}