
#widget-wrapper {
    float: left;
    width: 100%;
}

#widget-palette {
    width: 300px;
    float: left;
    box-sizing: border-box;
    margin-left: -100%;

}
#widget-palette dl {
    padding: 0;
}

#widget-palette select,
#widget-palette button {
    margin-left: 0;
    width: 100%;
    box-sizing: border-box;
}

#widget-container {
    margin-left: 325px;
}

#widget-container-inner {
    padding: 20px;
}

#widget-list {
    list-style: none;
    position:relative;
    list-style-type: none; margin: 0; padding: 0; 
}

#widget-list li {
    list-style-type: none;
    margin: 5px 0; 
    padding: 0; 
    background: #FAFAFA;
}

#widget-list li.placeholder {
    background: transparent;
    border: 2px dashed #BBBBBB;
    padding: 0px;
    border-radius: 8px;
}

#widget-list li.level-0 {
    margin-left: 0px;
}

#widget-list li.level-1 {
    margin-left: 20px;
}

#widget-list li.level-2 {
    margin-left: 40px;
}

#widget-list li.level-3 {
    margin-left: 60px;
} 

#widget-list li.level-4 {
    margin-left: 80px;
}

.widget {
    border-radius: 8px 8px 0px 0px;
    border: 1px solid #CCC;
    border-bottom-color: #AAA;
}

.data-box {
    padding: 10px 20px;
    display: none;
}

.data-row {
    margin: 10px 0;
}

.data-row label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
}

.data-row input {
    outline: none;
    color: #7A858D;
    background: white;
    outline: none;
    border: 1px solid #BBBBBB;
    background: #fff;
    padding: 2px 10px;
    font-size: 12px;
    height: 18px;
    line-height: 11px;
    margin: 0px;
    border-radius: 4px;
    min-width: 150px;
}

.close-btn {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 4px;    
    width: 24px;
    height: 24px;
    background: transparent url(sprites.png) no-repeat 0px 0px;
    cursor: pointer;
}

.toggle-btn {
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 4px;
    width: 24px;
    height: 24px;
    background: transparent url(sprites.png) no-repeat -24px 0px;
    cursor: pointer;
}

.close-btn:hover {
    background-position: 0px -24px;
}

.toggle-btn:hover {
    background-position: -24px -24px;
}

.field-schema {
    position: absolute;
    left: -9999em;
}

#widget-list li div.handle {
    background-color: #f1f1f1;
    background-image: -ms-linear-gradient(top,#f9f9f9,#e4e4e4);
    background-image: -moz-linear-gradient(top,#f9f9f9,#e4e4e4);
    background-image: -o-linear-gradient(top,#f9f9f9,#e4e4e4);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#e4e4e4));
    background-image: -webkit-linear-gradient(top,#f9f9f9,#e4e4e4);
    background-image: linear-gradient(top,#f9f9f9,#e4e4e4);  
}

#widget-list li div.handle {
    position: relative;    
    cursor: move;
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #fff;
    padding: 8px 35px;
    box-sizing: border-box;
    border-radius: 8px 8px 0px 0px;
    font-size: 12px;
    color: #333;
    text-align: left;
    font-weight: bold;
    text-shadow: 1px 1px 0px RGBA(255,255,255,0.45);
}

#widget-list li.open-widget div.handle {
    border-bottom: 1px solid #bbb;    
}

.widget-body {
    display: none;
    min-height: 200px;
}
#widget-palette h3 {
    padding: 5px 10px;
    padding-left: 2.2em !important;
}
#widget-palette .ui-widget-content.ui-accordion-content-active {
    border-top: 1px solid #CCC;
}