{% load simple_menus_tags %}
{% load active %}
<li id="menuitem-{{item.depth}}-{{forloop.counter0}}" class="level-{{item.depth}} {% if item.depth == 0 %} {% active_child request item.url %}{% endif %}">
    <a href="{{item.url}}" title="{{ item.caption }}" class="link-level-{{item.depth}}">{{ item.caption }}</a>
    {% if item.children %}
    <ul class="children">
        {% for item in item.children %}
            {% show_menuitem item %}
        {% endfor %}
    </ul>
    {% endif %}    
</li>